.Field {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.Field[type=text]:focus {
    border: 3px solid #555;
}

.addForm{
    padding: 20px;
}