.container {
    width: 100%;
    padding: 35px;
}

.clearLogs {
    margin-bottom: 10px;
    margin-left: 93%;
}

.keyBadge {
    width: 55px;
    margin-right: 8px;
}

.fieldKey {
    margin-right: 5px;
}

.userInfo {
    word-wrap: break-word;
}

.tdData {
    word-wrap: break-word;
}

.qContainer {
    display: grid;
    grid-template-columns: 0.8fr 2.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "Navigation qData";
}

.Navigation {
    grid-area: Navigation;
}

.qData {
    grid-area: qData;
    margin-left: 30px;
}

.qText {
    font-size: larger;
    color: darkslategray;
    font-family: monospace;
    font-style: initial;
}