.case {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
}

.caroImg {
  height: 35rem;
  width: 100%;
}

.TestBtn {
  min-width: 400px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  /* text-transform: uppercase; */
  letter-spacing: 1.3px;
  font-weight: 700;
  color: black;
  /* background: #470864; */
  /* background: linear-gradient(90deg, rgb(27, 25, 167) 0%, rgb(160, 25, 187) 100%); */
  border: none;
  border-radius: 1000px;
  /* box-shadow: 12px 12px 24px rgba(79, 209, 197, .64); */
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin: 2px;
}

.TestBtn::before, .TestBtnActive::before {
  content: '';
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.TestBtnActive::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.TestBtn:hover::before {
  height: 100%;
}

.TestBtnActive {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  letter-spacing: 1.3px;
  font-weight: 700;
  border: none;
  border-radius: 1000px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.TestBtn::after, .TestBtnActive::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TestBtn:hover::after, .TestBtn:focus::after {
  animation: none;
  display: none;
}

.TestBtnActive:active::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #6f2c9c;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
}

.TestBtnActive:hover, .TestBtn:focus {
  color: #313133;
  transform: translateY(1px);
}

.hint {
  display: inline;
  font-size: 20px;
}

.hint:hover {
  cursor: pointer;
  font-size: 30px;
}